<div id="container">
  @if (isLoading) {
    <app-spinner />
  } @else if (error) {
    <div class="contact-details">
      <p class="error">{{ error }}</p>
      <a routerLink="/" class="button2">Back to the list</a>
    </div>
  } @else if (contacto) {
    <div class="contact-details">

      <a routerLink="/" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 12H5"></path>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
      </a>

      @if (contacto.image) {
        <img [src]="contacto.image" alt="Avatar de {{ contacto.firstName }}" class="contact-avatar">
      } @else {
        <div class="contact-noImg">No Image</div>
      }

      <div class="contact-header">
        <h2 class="contact-name">{{ contacto.firstName }} {{ contacto.lastName }}</h2>
        
        @if (contacto.isFavorite) {
          <div class="favorite-badge">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
            </svg>
          </div>
        }
        </div>

      <div class="contact-info">
        <div class="info-item">
          <strong>Cellphone:</strong>
          <span>{{ contacto.number || 'No especificado' }}</span>
        </div>
        <div class="info-item">
          <strong>Email:</strong>
          <span>{{ contacto.email || 'No especificado' }}</span>
        </div>
        <div class="info-item">
          <strong>Adress:</strong>
          <span>{{ contacto.address || 'No especificada' }}</span>
        </div>
        <div class="info-item">
          <strong>Company:</strong>
          <span>{{ contacto.company || 'No especificada' }}</span>
        </div>
      </div>
      <div class="bottom-actions">
        <a [routerLink]="['/contacts', contacto.id, 'edit']" class="button2">Editar</a>
      </div>
    </div>
  }
</div>