 <div class="page-container">
  <div class="card">
    @if(idContacto()){
      <h2 class="card-title">Edit contact</h2>
    } @else { 
      <h2 class="card-title">New contact</h2>
    }

    <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
      <div class="form-field">
        <input class="input-field" placeholder="Firstname*" name="firstName" type="text" ngModel required="true">
      </div>
      
      <div class="form-field">
        <input class="input-field" placeholder="Lastname" name="lastName" type="text" ngModel>
      </div>

      <div class="form-field">
        <input class="input-field" placeholder="Cellphone*" name="number" type="text" minlength="3" ngModel required="true">
      </div>

      <div class="form-field">
        <input class="input-field" placeholder="Email" name="email" type="email" ngModel>
      </div>

      <div class="form-field">
        <input class="input-field" placeholder="Address" name="address" type="text" ngModel>
      </div>

      <div class="form-field">
        <input class="input-field" placeholder="Company" name="company" type="text" ngModel>
      </div>

      <div class="form-field">
        <input class="input-field" placeholder="URL Image" name="image" type="text" ngModel>
      </div>

      <div class="favorite-field">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="grey">
          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
        </svg>
        <input id="favourite" name="isFavorite" type="checkbox" ngModel>
      </div>

      @if (errorEnBack) {
          <p class="error-text">Ocurrió un error, intente nuevamente.</p>
        }

        @if (solicitudABackEnCurso) {
          <app-spinner />
        } @else {
          <div class="form-actions">
            @if(idContacto()){
              <button class="button2" [disabled]="newContactForm.invalid">Edit</button>
            } @else { 
              <button class="button2" [disabled]="newContactForm.invalid">Add</button>
            }
          </div>
        }
    </form>
  </div>
</div>