.favorite-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  color: #d3d3d3;
  font-size: 16px;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}

.form-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}