/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

:root{
    // Colores
    --color-primary: blue;
    --color-secondary: 4c91f1;
    --color-background: rgb(55, 54, 54);
	--color-second-background: #171717;
    --color-text: rgb(255, 255, 255);
	--color-button:  rgb(255, 255, 255);
	--color-gradient: linear-gradient(43deg, #41d0bf 0%, #4c91f1 46%, #4242e2 100%);

}

body{
    color: var(--color-text);
    --font-family:"TASA Explorer",,
}

.button2 {
  padding: 14px;
  border-radius: 8px;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background-color: #252525;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.button2:hover {
  background-color: var(--color-background);
  color: white;
  transform: translateY(-1px);
}